<h1>WELCOME TO SMALC</h1>
<p>a calculator better than desmos (and totally not insane)</p>

<h4><a href="/repl">online repl. USE IT</a></h4>

<h4><a href="https://github.com/the-cellar/smalc">source of the language and cli repl. its really cool. written in elixir and stuff</a></h4>
<h4><a href="https://github.com/the-cellar/smalcw">source of the website and online repl. its really cool. written in elixir and stuff</a></h4>